In [1]:
import pandas as pd
from pyhdf.SD import SD, SDC

In [2]:
file = SD('./MOD05_L2.A2020113.1630.061.hdf', SDC.READ)
datasets_dic = file.datasets()

In [3]:
datasets_dic

{'Latitude': (('Cell_Along_Swath_5km:mod05', 'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  5,
  0),
 'Longitude': (('Cell_Along_Swath_5km:mod05', 'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  5,
  1),
 'Scan_Start_Time': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  6,
  2),
 'Solar_Zenith': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  22,
  3),
 'Solar_Azimuth': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  22,
  4),
 'Sensor_Zenith': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  22,
  5),
 'Sensor_Azimuth': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  22,
  6),
 'Cloud_Mask_QA': (('Cell_Along_Swath_1km:mod05',
   'Cell_Across_Swath_1km:mod05'),
  (2030, 1354),
  20,
  7),
 'Water_Vapor_Near_Infrared': (('Cell_Along_Swath_1km:mod05',
   'Cell_Across_Swath_1km:mod05'),
  (2030, 1354),
  22,
  8),
 'Water_Vapor_Correction_Factors': (('Cell_Along_Swath_1km:mod05',
   'Cell_Across_Swath_1km:mod05'),
  (2030, 1354),
  22,
  9),
 'Water_Vapor_Infrared': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05'),
  (406, 270),
  22,
  10),
 'Quality_Assurance_Near_Infrared': (('Cell_Along_Swath_1km:mod05',
   'Cell_Across_Swath_1km:mod05',
   'QA_Bytes_NIR:mod05'),
  (2030, 1354, 1),
  20,
  11),
 'Quality_Assurance_Infrared': (('Cell_Along_Swath_5km:mod05',
   'Cell_Across_Swath_5km:mod05',
   'QA_Bytes_IR:mod05'),
  (406, 270, 5),
  20,
  12)}

In [4]:
water_vapour = file.select('Water_Vapor_Infrared')
lat = file.select('Latitude')
lng = file.select('Longitude')
water = water_vapour.get()
latitude = lat.get()
longitude = lng.get()
water_data = pd.DataFrame(water)
lat_dat = pd.DataFrame(latitude)
lng_data = pd.DataFrame(longitude)

In [5]:
lat_dat

,0,1,2,3,4,5,6,7,8,9,...,260,261,262,263,264,265,266,267,268,269
0,11.501678,11.479125,11.457362,11.436108,11.415458,11.395376,11.375835,11.356803,11.338255,11.320166,...,8.840452,8.813526,8.785758,8.757067,8.727394,8.696676,8.664843,8.631817,8.597514,8.561839
1,11.591304,11.567269,11.544231,11.521731,11.499494,11.478657,11.458011,11.437913,11.418338,11.399259,...,8.917912,8.891933,8.865135,8.837448,8.808816,8.779179,8.748468,8.716610,8.683521,8.649114
2,11.590043,11.567416,11.545706,11.524500,11.503572,11.483862,11.464365,11.445374,11.426867,11.408817,...,8.928311,8.901356,8.873542,8.844800,8.815072,8.784295,8.752397,8.719301,8.684924,8.649172
3,11.679345,11.655651,11.632568,11.610108,11.587838,11.567139,11.546536,11.526482,11.506948,11.487907,...,9.005766,8.979761,8.952915,8.925178,8.896492,8.866796,8.836020,8.804092,8.770930,8.736447
4,11.677749,11.655565,11.633817,11.612653,11.591805,11.572105,11.552648,11.533695,11.515223,11.497207,...,9.016340,8.989359,8.961504,8.932721,8.902951,8.872130,8.840189,8.807048,8.772623,8.736824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,29.255253,29.241465,29.226805,29.213221,29.201881,29.189358,29.171799,29.158096,29.145712,29.132381,...,26.387293,26.351128,26.313925,26.274706,26.234224,26.192110,26.148361,26.102921,26.055473,26.006041
402,29.254303,29.241730,29.228764,29.216438,29.206108,29.194185,29.178667,29.165976,29.154640,29.142216,...,26.397612,26.360527,26.322306,26.282024,26.240463,26.197210,26.152309,26.105640,26.056944,26.006189
403,29.342735,29.328772,29.315334,29.302786,29.291342,29.274952,29.260529,29.247135,29.233561,29.221863,...,26.473852,26.437769,26.400177,26.360973,26.320473,26.278177,26.234425,26.188879,26.141403,26.091852
404,29.341438,29.328941,29.316483,29.305416,29.294647,29.279854,29.266766,29.254913,29.242098,29.231461,...,26.484793,26.447824,26.409365,26.368921,26.327349,26.283962,26.239075,26.192347,26.143639,26.092804
405,29.430538,29.416931,29.404449,29.391356,29.377903,29.363127,29.348434,29.334167,29.323044,29.308527,...,26.560995,26.524811,26.487482,26.447891,26.407299,26.365028,26.321262,26.275642,26.228123,26.178473

In [6]:
w,st,lt,lg = [],[],[],[]
for i in range(water_data.shape[0]):
    for j in range(water_data.shape[1]):
        try:
            w.append(water_data[i][j])
            lt.append(lat_dat[i][j])
            lg.append(lng_data[i][j])
        except:
            pass
print("Creating DataFrame")
df = pd.DataFrame()
df['lat'] = lt
df['lng'] = lg
df['water_vapour'] = w

Creating DataFrame

In [7]:
df.head()

         lat        lng  water_vapour
0  11.501678  99.048416         -9999
1  11.591304  99.039268         -9999
2  11.590043  99.032204         -9999
3  11.679345  99.020203         -9999
4  11.677749  99.014282         -9999

In [8]:
df[df['water_vapour']!=-9999]

             lat        lng  water_vapour
555    12.162580  98.507950          4577
556    12.163848  98.502609          4589
557    12.250731  98.492744          4566
558    12.252229  98.485565          4521
559    12.339088  98.475555          4402
...          ...        ...           ...
72895  20.144758  75.212570          2269
72896  20.144932  75.205597          2369
72897  20.231068  75.184074          2370
72898  20.231392  75.179115          2348
72899  20.318035  75.160034          2349

[52376 rows x 3 columns]

In [9]:
df.to_csv('WaterVaporData.csv',index = False)